<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="SapServer" value="BTS@172.20.146.57:30013"/>
		<add key="SapServerSL" value="172.20.146.57"/>

		<add key="SapLicenseServer" value="172.20.146.57:40000"/>
		<add key="SapSLDServer" value="172.20.146.57:40000"/>
		<add key="SapCompanyDB" value="SBOTEST"/>
		<add key="SapUserName" value="manager"/>
		<add key="SapPassword" value="test"/>
		<add key="SapDbServerType" value="dst_HANADB"/>
		<add key="UseServiceLayer" value="true"/>
	</appSettings>
</configuration>